<h1>{{ question.question_text }}</h1>

{% if error_message %}
    <p><strong style="background-color: mediumvioletred">{{ error_message }}</strong></p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
        <br/>
    {% endfor %}
    <input type="submit" value="Vote" />
    <input type="button" value="Check" onclick="window.location.href='{% url 'polls:results' question.id %}'" />
</form>

<div>
    bottom line
</div>
